html {
    margin: 0px 24px;
}

.containerHome{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.containerHero{
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    width: 1286px;
    height: 250px;
    background-size: cover !important;
    background-position: center !important;
    background: linear-gradient(0deg, rgba(252, 70, 45, 0.24), rgba(252, 70, 45, 0.24)), url(https://res.cloudinary.com/diqhctpcx/image/upload/v1637338141/LaTiendita/banner_klnxq3.jpg), #C4C4C4;
    border-radius: 16px;
    

}

.containerHero h1{
    color: #fff;

}

.logo {
    font-style: italic;
    font-weight: 900;
}